@font-face {
    font-family: 'formulaT';
    src: url(../font/Formula1-Bold_web.ttf);
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'formulaC';
    src: url(../font/Formula1-Italic.ttf);
}

@font-face {
    font-family: 'formula';
    src: url(../font/Formula1-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.header {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 50px;
    font-family: 'formulaT', serif;
    color: #15151e;
}

.header b {
    flex: 1;
}

.NuevoUsuario, .Registrarse {
    background-color: #15151e;
    color: whitesmoke;
    padding: 10px 20px;
    transition: 0.4s;
    font-size: 20px;
    border-radius: 50px;
    text-decoration: none;
    margin-left: 10px;
}

.NuevoUsuario a, .Registrarse a {
    color: whitesmoke;
    text-decoration: none;
}

.NuevoUsuario:hover:not(.logueado), .Registrarse:hover {
    background-color: #e10600;
    cursor: pointer;
}

.nav {
    width: 100%;
    height: 3.5em;
    font-family: 'formula', serif;
    background-color: #e10600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    position: relative;
}

.barnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.barnav li {
    margin: 0 1em;
}

.barnav a {
    color: white;
    text-decoration: none;
    opacity: 0.75;
}

.barnav a:hover {
    opacity: 1;
    transition: opacity 0.35s;
}

.menu-toggle {
    display: none;
    color: whitesmoke;
}

.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
    color: whitesmoke;
}

@media screen and (max-width: 850px) {
    .barnav {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 3.5em;
        left: 0;
        background-color: #e10600;
        z-index: 1;
    }

    .barnav li {
        width: 100%;
        padding: 0.8em 0;
        margin: 0;
    }

    .menu-toggle:checked ~ .barnav {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 100%;
    transition: all 0.35s;
}


.portada {
    width: 100%;
    height: 85.7vh;
    background-image:radial-gradient(circle, #2a6191, #00192f);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.logo {
    margin-bottom: -80px;
}

.logo-img {
    max-width: 80%;
    height: auto;
}

.titulo {
    font-family: 'formulaT', serif;
    color: white;
    text-transform: uppercase;
}

.titulo-linea {
    display: block;
    font-size: 8vw; 
}

@media (max-width: 768px) {
    .titulo-linea {
        font-size: 10vw;
    }
}

@media (max-width: 480px) {
    .titulo-linea {
        font-size: 12vw;
    }
}

.informacion {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.tituloInfo {
    width: 80%;
    font-family: 'formulaT', serif;
    font-size: 3rem;
    text-align: center;
    color: whitesmoke;
    background-color: #15151e;
    border-radius: 50px;
    padding: 10px 0;
    margin-bottom: 20px;
}

.texto {
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'formula', serif;
    margin-bottom: 20px;
}

.texto label {
    display: block;
    margin-bottom: 10px;
}

.video1 {
    width: 80%;
    max-width: 1000px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 7px 7px 100px #15151e;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .tituloInfo {
        font-size: 2rem;
        padding: 5px 0;
    }

    .texto {
        font-size: 1.2rem;
    }

    .video1 {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .tituloInfo {
        font-size: 1.5rem;
        padding: 5px 0;
    }

    .texto {
        font-size: 1rem;
    }

    .video1 {
        width: 100%;
    }
}

.imagenes {
    width: 100%;
    background-color: #15151e;
    border-radius: 20px;
    padding: 50px 0;
    box-sizing: border-box;
    overflow: hidden;
}

.imagenes h1 {
    font-family: 'formulaT', serif;
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    color: whitesmoke;
    margin: 0 0 20px 0;
}

.contenedor1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider {
    width: 60%; /* Ajusta el tamaño del contenedor a un 60% del ancho */
    overflow: hidden;
    border-radius: 20px;
}

.slider ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 500%;
    animation: cambio 15s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: 60vh; /* Ajusta la altura de las imágenes */
    display: block;
    object-fit: cover; /* Esto asegurará que la imagen cubra todo el espacio del contenedor sin recortarse */
}

@keyframes cambio {
    0% {margin-left: 0;}
    15% {margin-left: 0;}
    20% {margin-left: -100%;}
    35% {margin-left: -100%;}
    40% {margin-left: -200%;}
    55% {margin-left: -200%;}
    60% {margin-left: -300%;}
    75% {margin-left: -300%;}
    80% {margin-left: -400%;}
    100% {margin-left: -400%;}
}

@media (max-width: 768px) {
    .imagenes h1 {
        font-size: 2rem;
    }

    .slider {
        width: 80%;
    }

    .slider img {
        height: 50vh; /* Ajusta la altura para pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .imagenes h1 {
        font-size: 1.5rem;
    }

    .slider {
        width: 100%;
    }

    .slider img {
        height: 40vh; /* Ajusta la altura para pantallas aún más pequeñas */
    }
}

.corredores {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
}

.vehiculo {
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
}

.footer {
    width: 100%;
    height: 10em;
    padding: 50px 0;
    background-color: #15151e;
    font-family: 'formulaT', serif;
}



.informacionEquipos {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 50px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorTabla {
    font-size: 20px;
    font-family: 'formulaT', serif;
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    width: 80%;
    border: 1px solid;
    text-align: center;
    padding: 20px;
    border-collapse: collapse;
    background-color: whitesmoke;
    color: #15151e;
    border-radius: 20px;
}

table, td {
    border: 1px solid;
}

td {
    padding: 20px;
}

/* Responsividad */
@media (max-width: 768px) {
    table {
        width: 100%;
        font-size: 16px;
    }

    td {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 14px;
    }

    td {
        padding: 5px;
    }
}